/* Reset rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    font-family: sans-serif;
    font-weight: 400;
}

header{
    background-color: rgb(255, 136, 0);
}

.row {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: calc(100% / 3);
  height: 50%;
  align-items: center;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
}

.container.nav{
    margin-bottom: 40px;
}

.figure {
  width: 100%;
}

ul{
    list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}
.row-nav{
    height: 60px;
    width: 1000px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo{
    height: 90%;
}

.mini-tab{
    max-height: 30px;
}

.category{
    display: flex;
    gap: 5px;
    color: white;
}

.icon{
    width: 20px;
}

.sale{
    color: red;
}

.full-price{
    text-decoration: line-through;
}

figure{
    position: relative;
}

.prefe{
    font-size: 25px;
    height: 35px;
    width: 35px;
    background-color: white;
    position: absolute;
    left: 90%;
    z-index: 1;
}

.big-sale{
    background-color: red;
    text-align: center;
    padding: 5px;
    color: white;
    position: absolute;
    top: 400px;
}

.ambiente{
    background-color: rgb(8, 176, 14);
    color: white;
    padding: 5px;
    position: absolute;
    top: 400px;
    left: 45px;
}

.only.ambiente{
    left: 0;
}


/* footer */


footer{
    background-color: black;
}

.row-foot{
    height: 100px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 30px;
}

.white{
    color: white;
    text-align: center;
    padding: 5px;
}

.container-foot{
    margin-top: 60px;
}

.container.foot{
    flex-direction: column;
}

.category.foot{
    gap: 10px;
}
